name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master # Có thể đổi thành main nếu nhánh chính của bạn là main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Project
        run: bun run build
        env:
          VITE_APP_URL: "https://longcuxit.github.io/book-downloader"
          VITE_APP_BASE: "/book-downloader/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
